<%- include('./layout/header.ejs')%>

<div class="container hero-list">
  <form>
    <div class="form-group">
      <label class="col-sm-2 control-label">英雄名称</label>
      <div class="col-sm-10">
        <input type="text" name="name" class="form-control name" value="李白">
      </div>
    </div>
    <input type="hidden" name="id" value="" id="yc">
    <div class="form-group">
      <label class="col-sm-2 control-label">性别</label>
      <div class="col-sm-10">
        <label class="radio-inline">
          <input type="radio" value="男" name="gender" class="nan" checked> 男
        </label>
        <label class="radio-inline">
          <input type="radio" value="女" name="gender" class="nv" checked> 女
        </label>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">英雄年龄:</label>
      <div class="col-sm-10">
        <input type="text" name="age" class="age form-control" value="10">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">创建时间:</label>
      <div class="col-sm-10 date">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-success">保存修改</button>
      </div>
    </div>
  </form>
</div>
<%- include('./layout/footer.ejs')%>
<script>
  $(function () {
    let id = location.search.substring(4)
    $.ajax({  //调用英雄详情 的接口
      url: 'yingxiongxiangqing',
      type: 'get',
      data: {
        id: id
      },
      success: function (res) {
        for (let key in res.data[0]) {
          $('input.' + key).val(res.data[0][key])
        }
        res.data[0].gender === '男' ? $('.nan').prop('checked', true) : $('.nv').prop('checked', true)
        $('.date').text(res.data[0].date)
        $('#yc').val(res.data[0].id)
      }
    })
    $('.btn').on('click', function (e) {
      e.preventDefault()
      let shuju = $('form').serialize()
      $.ajax({
        url: 'xiougai',
        type: 'post',
        data: shuju,
        success: function (res) {
          if (res.code === 200) {
          location.href = '/'
          }
        }
      })

    })
  })//
</script>